@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideDown {
  animation: slideDown .25s ease-out;
}

.sidebar-scroll::-webkit-scrollbar { width: 0; }
.sidebar-scroll { scrollbar-width: none; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-4px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn { animation: fadeIn .25s ease-out; }